name: Build

on:
  workflow_dispatch:
  
jobs:
  BuildWindows:
    runs-on: windows-latest
    steps:
      - name: Clone Repo
        uses: actions/checkout@v4
      
      - name: Set up Python 3.12.1
        uses: actions/setup-python@v4
        with:
          python-version: 3.12.1
        
      - name: Install Dependencies
        run: | 
          python -m pip install --upgrade pip setuptools wheel
          pip install -r requirements.txt
      - name: Try building
        run: |
          pyinstaller --onefile app.py

      - name: List result
        run: |
          cd dist
          ls
        
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: buildWindows
          path: dist/app.exe
      - name: Give out pyinstaller version
        run: pyinstaller --version
        
  Release:
    needs: BuildWindows
    runs-on: ubuntu-latest
    steps:
      - name: Download Artifact
        uses: actions/download-artifact@v4
        with:
          name: buildWindows
      - name: List dir
        run: ls
      - name: "Create Release"
        uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "latest"
          prerelease: false
          title: "Latest Build"
          files: |
            app.exe
          
